<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xiAnShiTiBian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1912C9A1FB479690001F81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1912CB21FB479690001F81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1912CBD1FB479690001F81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
